html, body {
    height: 100%;
}

#contact-box {
    background: #FFFFFF;
    width: 650px;
    height: 500px;

    /* Para maging round ang edges ng box*/
    border-radius: 5px;
    /* --------------------------------- */

    box-shadow: 0 5px 10px black;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
}

#form-container {
    height: 500px;
    width: 300px;
    display: inline-block;

    float: left;

    border-right: 1px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contact-info {
    width: 300px;
    height: 500px;
    display: inline;

    float: right;

}

.contact {
    margin: 1px;
}

.contact:first-child {
    margin-top: 0.67em;
}

.donation {
    margin-bottom: 0;
}

form {
    width: 250px;
    position: absolute;
}

input, textarea {
    border: 1px solid gray;
    font-family: sans-serif;
}

input:hover, textarea:hover {
    border: 1px solid black;
}


input {
    width: 250px;
}

input[type=submit]{
    width: 100px;
    float: right;
}

input:focus, textarea:focus {
    outline: #00FFAA auto 20px;
}

footer {
    position: absolute;
    bottom: 0;
}